/*.suo
/Utilities/Marketing/ImagesRaw
/Utilities/Marketing/VideosRaw
/Utilities/Incubateur/~*
/Utilities/AssetsInProgress/Music/Soundfonts/
/Utilities/AssetsInProgress/Music/VstPlugins/
/Utilities/AssetsInProgress/*.db
/Server/multiverse/worlds/world*