<?xml version="1.0"?>
<Level xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Infos>
    <Id>1</Id>
    <Mission>1-1</Mission>
    <Difficulty>Easy</Difficulty>
    <Background>fondecran16</Background>
  </Infos>
  <Objective>
    <CelestialBodyToProtect>-7</CelestialBodyToProtect>
  </Objective>
  <PlanetarySystem>
    <CelestialBody>
      <Name>Asteroid belt</Name>
      <Images />
      <HasGravitationalTurret>false</HasGravitationalTurret>
      <StartingTurrets />
      <Size>Small</Size>
      <Speed>2560000</Speed>
      <PathPriority>-2147483647</PathPriority>
      <Path>
        <X>700</X>
        <Y>-400</Y>
        <Z>0</Z>
      </Path>
      <Position>
        <X>0</X>
        <Y>0</Y>
        <Z>0</Z>
      </Position>
      <Rotation>0</Rotation>
      <InBackground>false</InBackground>
      <CanSelect>true</CanSelect>
      <Invincible>false</Invincible>
      <StartingPosition>0</StartingPosition>
    </CelestialBody>
    <CelestialBody>
      <Name>Planete1508144689</Name>
      <Images />
      <Image>planete5</Image>
      <HasGravitationalTurret>true</HasGravitationalTurret>
      <StartingTurrets />
      <Size>Small</Size>
      <Speed>360000</Speed>
      <PathPriority>-9</PathPriority>
      <Path>
        <X>-54.6729431</X>
        <Y>53.6440277</Y>
        <Z>0</Z>
      </Path>
      <Position>
        <X>-24.8519363</X>
        <Y>118.317932</Y>
        <Z>0</Z>
      </Position>
      <Rotation>229</Rotation>
      <InBackground>false</InBackground>
      <CanSelect>true</CanSelect>
      <Invincible>false</Invincible>
      <StartingPosition>0</StartingPosition>
    </CelestialBody>
    <CelestialBody>
      <Name>Planete1659819423</Name>
      <Images />
      <Image>planete6</Image>
      <HasGravitationalTurret>true</HasGravitationalTurret>
      <StartingTurrets />
      <Size>Normal</Size>
      <Speed>480000</Speed>
      <PathPriority>-11</PathPriority>
      <Path>
        <X>-3.048235</X>
        <Y>-12.0318356</Y>
        <Z>0</Z>
      </Path>
      <Position>
        <X>-397.9912</X>
        <Y>-154.0669</Y>
        <Z>0</Z>
      </Position>
      <Rotation>-268</Rotation>
      <InBackground>false</InBackground>
      <CanSelect>true</CanSelect>
      <Invincible>false</Invincible>
      <StartingPosition>0</StartingPosition>
    </CelestialBody>
    <CelestialBody>
      <Name>Planete1694538142</Name>
      <Images />
      <Image>vaisseauAlien1</Image>
      <HasGravitationalTurret>true</HasGravitationalTurret>
      <StartingTurrets />
      <Size>Big</Size>
      <Speed>480000</Speed>
      <PathPriority>-12</PathPriority>
      <Path>
        <X>-39.4869041</X>
        <Y>-32.8181038</Y>
        <Z>0</Z>
      </Path>
      <Position>
        <X>-481.6061</X>
        <Y>170.621735</Y>
        <Z>0</Z>
      </Position>
      <Rotation>112</Rotation>
      <InBackground>false</InBackground>
      <CanSelect>true</CanSelect>
      <Invincible>false</Invincible>
      <StartingPosition>0</StartingPosition>
    </CelestialBody>
    <CelestialBody>
      <Name>Planete1834692204</Name>
      <Images />
      <Image>planete3</Image>
      <HasGravitationalTurret>true</HasGravitationalTurret>
      <StartingTurrets />
      <Size>Normal</Size>
      <Speed>240000</Speed>
      <PathPriority>-8</PathPriority>
      <Path>
        <X>-25</X>
        <Y>28</Y>
        <Z>0</Z>
      </Path>
      <Position>
        <X>372.847015</X>
        <Y>135.995</Y>
        <Z>0</Z>
      </Position>
      <Rotation>240</Rotation>
      <InBackground>false</InBackground>
      <CanSelect>true</CanSelect>
      <Invincible>false</Invincible>
      <StartingPosition>0</StartingPosition>
    </CelestialBody>
    <CelestialBody>
      <Name>Planete1188043442</Name>
      <Images />
      <Image>planete4</Image>
      <HasGravitationalTurret>true</HasGravitationalTurret>
      <StartingTurrets />
      <Size>Small</Size>
      <Speed>480000</Speed>
      <PathPriority>-10</PathPriority>
      <Path>
        <X>-35.2445755</X>
        <Y>62.6993866</Y>
        <Z>0</Z>
      </Path>
      <Position>
        <X>-56.7035866</X>
        <Y>-147.12796</Y>
        <Z>0</Z>
      </Position>
      <Rotation>-165</Rotation>
      <InBackground>false</InBackground>
      <CanSelect>true</CanSelect>
      <Invincible>false</Invincible>
      <StartingPosition>0</StartingPosition>
    </CelestialBody>
    <CelestialBody>
      <Name>Planete1606613491</Name>
      <Images />
      <Image>planete7</Image>
      <HasGravitationalTurret>true</HasGravitationalTurret>
      <StartingTurrets />
      <Size>Big</Size>
      <Speed>120000</Speed>
      <PathPriority>-7</PathPriority>
      <Path>
        <X>56.10266</X>
        <Y>-30.30249</Y>
        <Z>0</Z>
      </Path>
      <Position>
        <X>396.855835</X>
        <Y>-159.021179</Y>
        <Z>0</Z>
      </Position>
      <Rotation>323</Rotation>
      <InBackground>false</InBackground>
      <CanSelect>true</CanSelect>
      <Invincible>false</Invincible>
      <StartingPosition>0</StartingPosition>
    </CelestialBody>
  </PlanetarySystem>
  <Waves />
  <Player>
    <Money>100</Money>
    <Lives>1</Lives>
  </Player>
  <AvailableTurrets />
  <AvailablePowerUps />
  <Minerals>
    <Cash>0</Cash>
    <LifePacks>0</LifePacks>
  </Minerals>
  <HelpTexts />
</Level>